<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SuperDraftEndPointApiUrl" value="https://api-candidates.staging.superdraft.io" />
    <add key="SuperDraftEndPointApiKey" value="8B6FCB4C-3516-4CBF-9195-2766D7B3AE1D" />
    <add key="LineupsResource" value="api/lineups/v1/contests/{0}/lineups" />
    <add key="PlayerResource" value="api/playerscores/v1/contests/{0}/playerscores" />
    <add key="ContestResource" value="api/contests/v1/contests/{0}" />
    <add key="SubmitScoredLineupResource" value="api/lineups/v1/contests/{0}/lineups/scored" />
    <add key="ContestantId" value="186066" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>